/*----------------------------------------

  MIMAS - BUTTONS

  Created by Valdemar Rolfsen 2017

-----------------------------------------*/

// Local placeholders
// -------------------

%default-button {
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }

  @media (max-width: $smallMediaSize) {
    width: 100%;
  }
}

// Local mixins
// -------------------

@mixin smoothHover($bg: $light, $color: $dark) {

  // Placeholders
  @extend %background-trans;

  &:hover {
    background: $bg;
    color: $color;
  }
}

// Button style
// -------------------

.btn {

  // Custom style from _variables file
  border-radius: $btn-border-radius;
  font-weight: $btn-font-weight;
  letter-spacing: $btn-letter-spacing;
  text-shadow: $btn-text-shadow;

  // Extensions
  @extend %default-button;
  @extend %all-trans;

  &.round {
    //Rounded style
    border-radius: 1337px;
  }
}

// Button sizes
.btn.sm {
  // Custom style from _variables file
  padding: $btn-sm-padding;
}

.btn.md {
  // Custom style from _variables file
  padding: $btn-md-padding;
}

.btn.lg {
  // Custom style from _variables file
  padding: $btn-lg-padding;
}

.btn-collection {

  // Small hack to remove forced space between buttons in some browsers
  font-size: 0;

  // Extends
  @extend %is-flex;
  @extend %flex-row;

  .btn {

    border-radius: 0;
    margin-right: 0;
    margin-left: 0;

    flex: 1;

    @media (max-width: $smallMediaSize) { 
      flex: none;
    }

    // Restores the font-size after hack in parent class
    font-size: $defaultTextSize;

    &:first-child {

      @media (min-width: $smallMediaSize) { 
        border-top-left-radius: $btn-border-radius;
        border-bottom-left-radius: $btn-border-radius;

        &.round {
          border-top-left-radius: 1337px;
          border-bottom-left-radius: 1337px;
        }
      }

      @media (max-width: $smallMediaSize) {
        border-top-left-radius: $btn-border-radius;
        border-top-right-radius: $btn-border-radius;

        &.round {
          border-top-left-radius: 1337px;
          border-top-right-radius: 1337px;
        }
      }
    }

    &:last-child {

      @media (min-width: $smallMediaSize) { 
        border-top-right-radius: $btn-border-radius;
        border-bottom-right-radius: $btn-border-radius;

        &.round {
          border-top-right-radius: 1337px;
          border-bottom-right-radius: 1337px;
        }
      }

      @media (max-width: $smallMediaSize) {
        border-bottom-left-radius: $btn-border-radius;
        border-bottom-right-radius: $btn-border-radius;

        &.round {
          border-bottom-left-radius: 1337px;
          border-bottom-right-radius: 1337px;
        }
      }
    }

    &:not(:last-child) {
      &.border {

        @media (min-width: $smallMediaSize) { 
          border-right: 0;
        }

        @media (max-width: $smallMediaSize) { 
          border-bottom: 0;
        }
      }
    }
  }
}

@each $item in $mainColors {

  $name: nth($item, 1);
  $bg: nth($item, 2);
  $color: nth($item, 3);
  $hover: nth($item, 4);
  $border-text-color: nth($item, 5);

  // Simple buttons
  .btn.#{$name} {

    //Custom style
    background: $bg;
    color: $color;
    border: 1px solid $bg;

    // Other
    &:hover { background: lighten($bg, 10%); border-color: lighten($bg, 10%);}
    &:active { background: darken($bg, 5%); border-color: darken($bg, 5%);}
  }

  // Border buttons
  .btn.border.#{$name} {

    // Local variables
    $border: $bg;

    // Static style
    background: none;

    //Custom style
    border: 1px solid $border;
    color: $border-text-color;

    @include smoothHover($border, $color);

    &:active {
      background: darken($border, 5%);
      border-color: darken($border, 5%);
    }
  }
}



