/*----------------------------------------

  MIMAS - PLACEHOLDERS

-----------------------------------------*/

// Buttons
// --------------------

// Borders
// --------------------

%solid-border {
  border-style: solid;
}

%solid-bottom-border {
  border-bottom-style: solid;
}

%solid-top-border {
  border-top-style: solid;
}

%solid-right-border {
  border-right-style: solid;
}

%solid-left-border {
  border-left-style: solid;
}

// Transitions
// --------------------

%all-trans {
  @include trans();
}

%background-trans {
  @include trans(background-color, 200ms);
}

// Layout
// --------------------
%is-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

%flex-row {

  // Flex direction
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-direction: row;

  // Fill parent container
  width: 100%;
}

// Cover
// ---------------------
%cover {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

%nav-side {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1337;
}

// Grid
// ---------------------

// Shapes
// ---------------------

%is-circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

// Divider
// ---------------------
%divider {
  width: 100%;
  height: 1px;
  border-bottom-style: solid;
}

// Hover
// ---------------------

%hover {
  cursor: pointer;
  @include trans(background-color, 200ms);
}

// Forms
// ---------------------
%border-bottom-input {
  background-color: transparent;

  @include trans(border, 500ms);
}
