/*----------------------------------------

  MIMAS - PROPERTIES

  Created by Valdemar Rolfsen 2017

-----------------------------------------*/

// Background, Color, Border, Hover and Cover
// --------------------

@each $item in $mainColors {

  $name: nth($item, 1);
  $bg: nth($item, 2);
  $color: nth($item, 3);
  $hover: nth($item, 4);

  // Color options for main colors
  .color-#{$name} {
    color: $bg;

    a {
      color: $bg;
    }
  }

  // Background options for main colors
  .bg-#{$name} {
    background: $bg;
    color: $color;

    a {
      color: $color;
    }

    .input-bottom-#{$name} {
      color: $color;
      &:focus {
        border-bottom-color: $color;
      }
    }
  }

  .cover-#{$name} {

    &:before {
      @extend %cover;
      background: $bg;
    }
  }

  .hover-#{$name} {
    @extend %hover;

    &:hover {
      background: $hover;
    }
  }
}

.bg-image {
  background-position: center center;
  background-size: cover;
}

// Other cover
.cover-content {
  position: relative;
  z-index: 1;
}

@for $i from 1 to 11 {
  .rounded-#{$i} {
    border-radius: #{$i}px;
  }
}
