/*----------------------------------------

  MIMAS - VARIABLES

  Created by Valdemar Rolfsen 2017

-----------------------------------------*/

// Colors
// -------------------

// Main colors
$light: #fff !default;
$stable-light: #ebebeb !default;
$stable: #d7d9da !default;
$stable-dark: #898b8f !default;
$primary: #00897b !default;
$action: #ffd37a !default;
$warning: #ff9476 !default;
$warning-light: #fed8c5 !default;
$green: #44c18b !default;
$blue: #4c7c96 !default;
$pink: #fc7fce !default;
$decline: rgb(169, 45, 64) !default;
$accept: #27ae60 !default;
$dark: #3e2a4f !default;
$black: #1a1a1a !default;
$gray: #dddddd !default;
$light-gray: #faf9fa !default;
$mint: #d1ffed !default;

// Text
// -------------------
$defaultFont: 'Raleway', sans-serif;
$secondFont: 'Raleway', sans-serif;
$defaultTextColor: #333;
$defaultTextSize: 12px;

// List of main colors
// Setup: (name, main-color, complementary-color, hover-color, second-hover-color, btn-border-text-color)
$mainColors: (
    ('light', $light, $defaultTextColor, darken($light, 10%), $light),
    ('stable-light', $stable-light, $dark, darken($stable-light, 10%), $dark),
    ('stable', $stable, $dark, darken($stable, 10%), $dark),
    ('stable-dark', $stable-dark, $light, lighten($stable-dark, 10%), $dark),
    ('primary', $primary, $light, lighten($primary, 10%), $dark),
    ('action', $action, $dark, lighten($action, 10%), $dark),
    ('warning', $warning, $light, lighten($warning, 10%), $dark),
    ('green', $green, $light, lighten($green, 10%), $dark),
    ('blue', $blue, $light, lighten($blue, 10%), $dark),
    ('pink', $pink, $light, lighten($pink, 10%), $dark),
    ('accept', $accept, $light, lighten($accept, 10%), $dark),
    ('decline', $decline, $light, lighten($decline, 10%), $dark),
    ('dark', $dark, $light, lighten($dark, 10%), $dark),
    ('black', $black, $light, lighten($black, 10%), $dark),
    ('gray', $gray, $defaultTextColor, darken($gray, 10%), $dark),
    ('light-gray', $light-gray, $defaultTextColor, darken($light-gray, 10%), $dark),
    ('mint', $mint, $black, lighten($mint, 10%), $dark)
);


// General options
// -------------------

// Grid division
$grid-division: 12;

// Media sizes
$smallMediaSize: 768px;
$mediumMediaSize: 1250px;


// Navbar
$nav-height: 80px;
$link-font-size: 1.1em;
$link-font-weight: 600;

// Buttons
// -------------------

// General
$btn-border-radius: 3px;
$btn-font-weight: 700;
$btn-letter-spacing: 2px;
$btn-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);

// Sizes
$btn-sm-padding:              5px 20px;
$btn-md-padding:              10px 24px;
$btn-lg-padding:              15px 60px;











